/* Site Colors
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html {height: 100%; width: 100%;}
body {
  width: 100%; height: 100%;
  margin:0; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; line-height: 15px;
  background: #EEE4B9;
}

img {border:none;}

a  {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 75%;
  border-radius: 3px;
  padding: 6px 25px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 12px;
  color: red;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 200;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

a:focus {
  background-color: orange;
  width: 75%;
  color: #53e3a6;
}

ul 	{
		list-style-type:none;
	}
	
#point 	{
			position:relative;
			left:-15%;
		}	

h2		{font-family:Lobster;
			letter-spacing:3px;
			text-shadow:rgba(255,0,204,1)
						2px 1px 10px;"
			}
						
#header{
  height: 80px;
  margin: 0; padding: 0; text-align: left;
  background: #1A446C ; color: #D4E6F4;
}
#header h1{padding: 1em; margin:0;}

#main{
  height: 600px; width: 100%;
  margin:0; padding:0 ;
  background: #EEE4B9;
}

#footer{
  clear: both;
  height: 10px; margin: 0; padding: 1em;
  text-align: center;
  background: #1A446C; color: #D4E6F4
}

/* Navigation */
#navigation{
  float: left;
  width: 17%; height: 100%;
  margin: 0; padding: 0 1em;
  color: #D4E6F4; background: #8D0D19;
}
#navigation a{color: #D4E6F4; text-decoration: none;}
#navigation a:hover{color: #FFFFFF;}
ul.subjects{
  margin: 1em 0; padding-left: 0; list-style: none; 
}
ul.pages{
  padding-left: 2em; list-style: square; font-weight: normal;
}
.selected{font-weight: bold;}

/* Page Content */
#page{
  float: left; height: 100%;
  padding-left: 2em; vertical-align: top;
  background: #EEE4B9;
}
#page h1{color:maroon; margin-top: 1em;}
#page h2{color:; margin-top: 1em;}
#page h3{color: maroon;}
.view_content{
  margin: 1em; padding: 1em; border: 1px solid #999;
}

div.message{
  border: 2px solid #8D0D19;
  color: #8D0D19; font-weight: bold;
  margin: 1em 0; padding: 1em;
}

.error{
  color: #8D0D19; border: 2px solid #8D0D19;
  margin: 1em 0; padding: 1em;
}
.error ul{padding-left: 2em;}

#view_list{
  width:105%; 
  overflow-y: auto;
  height: 200px;
}

#view_project_list{
  width:1100px; 
  overflow-y: auto;
  height: 450px;
}

#view_bill_list{
  width:118%; 
  overflow-y: auto;
  height: 30%;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

#details{
  margin: 0;
}

#sort_type{
  width: 30%;
  margin: 0;
}

#view_files{
  overflow-y: auto; 
  width: 500px; 
  height: 500px;
}

#news{
  overflow: auto; 
  height: 100px; 
  width:300px;
}

#news_feed{
  overflow-y: auto; 
  height: 430px; 
  width: 1000px;
}